		<footer></footer>
	</div> <!-- main -->
</div> <!-- viewport -->

<script id="tweet" type="text/template">
	<div class="panel tweet" data-timestamp="{{timestamp}}">
		<div class="container">
			<div>
				<span class="icon-twitter-circled"></span> 
				<h5 class="date">{{time}}</h5>
				<h3>{{text}}</h3>
				<h5><a href="https://twitter.com/{{user.screen_name}}" class="source">@BurlGathering</a></h5>
			</div>
		</div>
	</div>
</script>
<script id="insta" type="text/template">
	<a href="{{link}}" class="panel insta" data-timestamp="{{timestamp}}" style="background-image:url('{{src}}');">
		<div class="container headline">
			<div><span class="icon-instagram-circled"></span></div>
		</div>
	</a>
</script>

<!-- fontoids -->
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<!-- javascriptoids -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<!-- @javascript mustache.js socialblend.js modernizr.custom.47169 script -->
</body>
</html>