/* -------------------------------------------------- */

/* !navigation */

/* -------------------------------------------------- */
/* !responsive menu */

.viewport {
	position: relative;
	overflow: hidden;
	.menu {
		position: absolute;
		z-index: 999;
		top: 0;
		right: 0;
		width: $spacer;
		height: $spacer;
		text-indent: -9999px;
		&:after {
			background: $black;
			color: $white;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			text-align: center;
			text-indent: 0;
			content: "\e813";
			font-family: "fontello";
			font-size: 20px !important;
			line-height: 2.8em;
		
			
		}
	}
	@include breakpoint($tabtop) {
		.menu {
			display: none;
		}
	}
	.main, .menu {
		@include single-transition(-webkit-transform, $duration, $ez-e);
	}
	&.shift {
		.main, .menu {
			@include transform(translateX(-300px));
		}
	}
}
.main {
	position: relative;
	width: 100%;
}
*.touch {
	.main {
		@include enable-hardware-acceleration;
	}
}
nav, footer {
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		li {
			position: relative;
			text-align: left;
			height: $spacer;
			a {
				@extend %links-macro;
			}
		}
	}
	// dd menus (default)
	ul li > ul {
		background: tint($white, 35%);
		position: relative;
		left: 0;
		width: 100%;
		display: none;
		overflow: hidden;
	}
	ul li > ul li {
		width: 100%;	
		white-space: nowrap;
		display: block;
	}
	ul li:hover > ul {
		display: block;
	}
}
[role*="navigation"] {
	background: $black;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 300px;
	padding: 0;
}
@include breakpoint($tabtop) {
	[role*="navigation"] {
		position: relative;
		top: 0;
		bottom: auto;
		z-index: 9999 !important;
		width: 100%;
		height: $spacer;
		a {
			color: $white;
			&:hover {
				background: $primary;
				color: $secondary;
			}
		}
		> ul {
			position: absolute;
			right: 0;
			width: auto;
			> li {
				float: left;
				width: auto;
				border: none;
			}
		}
		// dd menu style
		ul li > ul {
			background: $black;
			position: absolute;
			width: 200px;		
		}
		ul li > ul li {

		}
	}
}