/* --------------------------------------------------

	VARIABLES
	
-------------------------------------------------- */
/* !pump the baseline */
$ratio				: major-second();
$base-font-size		: 15px;
$base-line-height	: 20px;

/* !colors */
$black				: #240100;
$white				: #f7f7f5;
$primary			: #aa080a;
$secondary			: #dcdcdc;
$links				: $primary;

/* !fx */
$duration			: 360ms;
$ez-e				: cubic-bezier(.94,.06,.32,1);
$radius 			: 2px;

/* !grids, layout */
$spacer				: 56px;
$width				: 100%;
$max-width			: 1280px;

$total-width		: 100%;
$column-width		: 100;
$gutter-width		: 38px;
$columns			: 12;

/* !johnny utah */
$phone				: (width 0px 800px);
$phablet			: 600px;
$tabtop				: 900px;
$desktop			: 1280px;